<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SchemaSphere</title>
  

  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!--Style Sheets-->
  <link rel="stylesheet" href="static\css\styles.css">
  <script src="static\js\main.js"></script>


</head>

<body>
  <!--Hero section-->
  <section id="hero">
    <div class="hero-section-container">
       

      <div class="hero-content"> <!--Hero Content-->

        <div class="left-section">
          <div class="left-content-container">
             <h1>Schemasphere</h1>
          <p style="margin-top: 100px; font-size: 2em">
            <span style="font-weight: bold; color: rgb(212, 173, 29); text-shadow: 0 0 10px rgb(31, 3, 7); display: block; margin-bottom: 15px;">
              SchemaSphere - Unlocking Data, One Table at a Time!
            </span>  
            <br>
            <span style="
              font-weight: bold;
              font-size: 0.7em;
              color: white;
              text-shadow: 0 0 10px rgba(5, 3, 37, 0.8), 0 0 20px rgba(21, 2, 26, 0.9);
              display: block;
              margin-top: 15px;
            ">
              Explore, understand, and navigate your database schema effortlessly. Visualize relationships, access table structures, and streamline your workflow with an intuitive and dynamic interface. Transform the way you interact with data—because clarity begins with structure!
            </span>
          </p>
          <button class="big-cta-btn" 
          style="color: white; font-size: 15px; padding: 12px 30px;" 
          onclick="window.location.href='/app'">
      Dive into Data
  </button>
           

          </div>
        </div>

        <div class="right-section">
          <div class="image-wrap">
            <img src="static\img\data_planet.png" alt="planet image">
          </div>
        </div>

      </div>

       

    </div>
  </section>

</body>

</html>